<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <meta charset="utf-8">
    <title>USER</title>
  </head>
  <body>
    <div class = "container">
      <h3>Welcome to User Interface</h3>
      <table>
        <thead>
          <tr>
              <th>Id</th>
              <th>Username</th>
              <th>Email</th>
              <th>Option</th>
          </tr>
        </thead>

        <tbody>
          <% users.forEach(user =>{ %>
            <tr>
              <td><%= user.id %> </td>
              <td><%= user.username %> </td>
              <td><%= user.email %></td>
              <td> 
                <a class="waves-effect waves-light btn" href="/user/edit/<%= user.id %>">Edit</a>
                <a class="waves-effect waves-light btn" href="/user/delete/<%= user.id %>">Delete</a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </br>
    </br>
      <div class = "row">
        <form class = "col s12" action="/user" method="POST">
          <div class="row">
            <div class="input-field col s6">
              <input type="text" id="username" name="username" placeholder = "Input your First Name"/>
              <label for="username"> Username </label>
            </div>
            <div class="input-field col s6">
              <!-- <input type="text" id="email" name="email" required="" aria-required="true" type="email" class="validate" placeholder = "Input your Email"/> -->
              <input id="email" type="email" name="email" placeholder = "Input your Email" class="validate">
              <label for="email" data-error="wrong" data-success="right">Email</label>
              <!-- <label for="email"> Email </label> -->
            </div>
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>