<!DOCTYPE html>

<html>
  <head>
    <title> User index </title>
  </head>
  <body>
    <h1>List Users</h1>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach( (user) => { %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
              <td>
                <button type="button" onclick="edit('<%= user.id %>')">Edit</button>
                <button type="button" onclick="delete('<%= user.id %>')">Delete</button>
              </td>
          </tr>
        <% }) %>
      </tbody>
  </body>
</html>


